# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Node + Vite
node_modules/
.vite/
dist/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?