# Core Logic
langchain
langchain-ollama
langchain-chroma
langchain-community
langchain-core
langchain-text-splitters

# PDF & Image Processing
unstructured[all-docs]
pdf2image
opencv-python
pi-heif
pillow

# Backend & Tools
fastapi
uvicorn
python-dotenv
ollama